<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <!-- Navegación -->
    <nav class="navbar">        
        <ul class="nav-links">
            <li><a href="sobre_mi.html">Sobre Mí</a></li>
            <li><a href="mi_trabajo.html">Mi Trabajo</a></li>
        </ul>
        <div class="logo">
            <a href="principal.html">
                <img src="../assets/logoyv.png" alt="Logo" class="logo-img">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="alumbre.html">Alumbre</a></li>
            <li><a href="contactame.html">Contáctame</a></li>
        </ul>
    </nav>
</body>
</html>