<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Portafolio</title>
    <link rel="stylesheet" href="../css/styleNav.css">
</head>
<body>
    <!-- Navegación -->
    <nav class="navbar">        
        <ul class="nav-links">
            <li><a href="#sobre-mi">Sobre Mí</a></li>
            <li><a href="#mi-trabajo">Mi Trabajo</a></li>
        </ul>
        <div class="logo">MI PORTAFOLIO</div>
        <ul class="nav-links2">
            <li><a href="#alumbre">Alumbre</a></li>
            <li><a href="#contacto">Contáctame</a></li>
        </ul>
    </nav>
    <script src="../js/script.js"></script>
</body>
</html>